*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    color: #000;
}
html{
    height: 100%;
    width: 100%;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6.5rem;
    scroll-behavior: smooth;
}
nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    box-shadow: 0 .5rem 1rem rgb(0,0,0,.1);
    position: relative;
}
nav.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}
#menubar{
    font-size: 3rem;
    display: none;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.navbar a{
 font-size: 2.3rem;
 font-weight: bolder;
 opacity: .6;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem; 
}
.icons a{
    font-size: 2rem;
}
#page1{
    display: flex;
    width: 100%;
   height: calc(100% - 80px);
}
#left{
    width: 50%;
    height: 100%;
    overflow: hidden;
}
#left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#right h1{
    font-size: 10rem;
    line-height: 10rem;
}
#right h1 span{
    color: salmon;
}
#right p{
    font-size: 2rem;
    margin-top: 2rem;
    line-height: 3rem;
}
#right button{
    padding: 1rem 2rem;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 2rem;
}
#shop{
    text-align: center;
    padding: 1em ;
    font-family:'Times New Roman', Times, serif;
    /* width: fit-content; */
}
#shop h1{
    font-size: 4rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    color: transparent;
    letter-spacing: .2rem;
}
#pages{
    text-align: center;
    padding: 1em ;
    font-family:'Times New Roman', Times, serif;
    /* width: fit-content; */
}
#pages h1{
    font-size: 4rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    color: transparent;
    letter-spacing: .2rem;
}
#page2{
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
}
#page2 #left{
    height: 100%;
    width: 50%;
    border-radius: 2rem;
    overflow: hidden;
    margin:0 0 1rem 1rem ;
}
#page2 #left img{
    width: 100%;
    object-fit: cover;
}
#page2 #left:hover img{
    scale: 1.2;
}
#page2 #right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
#page2 #right #top{
    height: 50%;
    width: 100%;
    border-radius: 2rem;
    overflow: hidden;
    margin-left: 1rem;
}
#top img{
    height: 300px;
    border-radius: 2rem;
}
#top:hover img{
    scale: 1.2;
}
/* #offer h2{
    font-size: 2rem;
}
#offer h3{
    font-size: 2rem;
}
#offer a{
    font-size: 1.5rem;
} */
#page2 #right #bottom{
    height: 50%;
    width: 100%;
    border-radius: 2rem;
    overflow: hidden;
    margin:1rem 1rem 0 1rem;
}
#bottom img{
    height: 300px;
    border-radius: 2rem;
}
#bottom:hover img{
    scale: 1.2;
}
#page3{
    height: 100%;
    width: 100%;
    padding: 0 2rem;
    line-height: 1rem;
    /* display: flex;
    flex-wrap: wrap; */
}
 #box{
    display: inline-block;
    height: 300px;
    width: 18.2vw;
    /* width: 249px; */
    background-color: salmon;
    margin-left: 1.06rem ;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
}
#box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#box:hover img{
    scale: 1.1;
}
#box #box-bottom{
    height: 100px;
    width: 100%;
    z-index: 999999;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40%;
    text-align: center;
    transition: all ease .5s;
}
#box:hover #box-bottom{
    bottom: 0;
}
#box #box-bottom .stars i{
    padding: 1rem .1rem;
    font-size: 1.7rem;
    color: salmon;
}
#box #box-bottom h3{
    font-size: 1.5rem;
    line-height: 1.7rem;
    margin-bottom: 1rem;
    font-weight: 500;
}
#box #box-bottom h3:hover{
    text-decoration: underline;
}
#box #box-bottom a{
    font-size: 1.5rem;
    font-weight: 600;
}
#box #box-bottom a span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: 500;
}
#line{
    height: 200px;
    width: 50px;
    position: absolute;
    top: 0;right: -58%;
    transition: all ease .5s;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 9999;
}
#line a{
    font-size: 2rem;
    margin-bottom: 2rem;
    border: .1rem solid #888;
    padding: .7rem;
    border-radius: 50%;
    transition: all ease .5s;
}
#line a:hover{
    background-color: salmon;
    color: #fff;
}
#box:hover #line{
    right: 0;
}
#blog{
    text-align: center;
    padding: 1em ;
    font-family:'Times New Roman', Times, serif;
    /* width: fit-content; */
}
#blog h1{
    font-size: 4rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    color: transparent;
    letter-spacing: .2rem;
}
#page4{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://demo2.themelexus.com/beautifo/wp-content/uploads/2021/04/h5-bg1.jpg);
    position: relative;
    
}
#contact{
    text-align: center;
    padding: 1em ;
    font-family:'Times New Roman', Times, serif;
    /* width: fit-content; */
}
#contact h1{
    font-size: 4rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    color: transparent;
    letter-spacing: .2rem;
}
#form{
    text-align: center;
    padding: 2rem;
}
#form input{
    padding: 1rem 2rem;
    border: .1rem solid #888;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
#form textarea{
    padding: 1rem 2rem;
    border: .1rem solid #888;
    margin: auto;
    padding-right: 26rem;
    margin-bottom: 2rem;
}
#form button{
    padding: 1rem 2rem;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 50rem;
}






@media (max-width:706px) {
    html{
        font-size: 55%;
    }
} 
@media (max-width:600px) {
    #menubar{
        display: initial;
     }
     nav .navbar{
         position: absolute;
         top: 100%;
         left: 0;
         right: 0;
         padding: 1rem 2rem;
         background-color: #234567;
         display: none;
     }
     nav .navbar.active{
         display: initial;
     }
     nav .navbar a{
         font-size: 2.5rem;
         display: block;
         text-align: center;
         background: #fff;
         padding: 1rem;
         margin: 1.5rem 0;
     }
    nav .icons a{
        font-size: 3.2rem;
    }
    #page1{
        flex-direction: column;
    }
    #left{
        height: 50%;
        width: 100%;
    }
    #right{
        height: 50%;
        width: 100%;
    }
    #right h1{
        font-size: 9rem;
        line-height: 9rem;
    }
    #right p{
        margin-top: 2rem;
        font-size: 1.7rem;
        line-height: 1.9rem;
        margin-bottom: 3rem;
    }
    #right button{
        font-size: 2.5rem;
        padding: 2rem 3rem;
        margin-bottom: 2rem;
    }
    #box{
        height: 490px;
        width: 540px;
        margin-bottom: 1.4rem;
    }
    #line{
        width: 10vw;
        height: 25vh;
    }
    #page2{
        display: flex;
        flex-wrap: wrap;
    }
    #page2 #left{
        width: 100%;
    }
    #page2 #right{
        width: 100%;
    }
}